.otp-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px; 
    z-index: 1000;
    background-color: rgba(0, 0,0, 0.1);
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
}
.otp-box {
    width: 500px;
    background-color: rgb(124, 190, 124);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.otp-input-btn-box input  {
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 10px
}
.otp-input-btn-box button  {
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: black;
    color: white;
    padding: 10px
}
.otp-input-btn-box button:hover {
    background-color: rgb(233, 176, 21);
    color: black;
}


/* responsive for mobile */

@media (max-width: 600px) {
    .otp-box {
        width: 360px;
        height: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;
    }
    .otp-input-btn-box input{
        width: 172px;
    }

}