
.orders-container {
    padding: 20px;
}

.orders-title{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.orders-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.order-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    padding: 15px; 
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.order-items{
   margin: 0px;
   padding-left: 20px;

}

.order-date{
    font-size: 0.9rem;
    color: #666;
}