
.cart-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem-box {
  display: grid;
  width: 50%;
  grid-template-columns: 80px 1fr ;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.cartItem-box:hover {
  transform: scale(1.02);
}

.cartImage img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;

}

.name_container {
  display: grid;
  grid-template-columns: 2.2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  color: #fff;
}

.name_container p {
  margin: 0;
  font-size: 16px;
  
}

.name_container p:last-child {
  color: #ff6666;
  cursor: pointer;
  font-weight: bold;

}



/* responsive */
@media (max-width: 600px) {
  .name_container{
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 14px;
  }
  .cartImage img {
    width: 60px;
    height: 60px;
  }
}